<center>
<h1>Introduction to Python and Pandas</h1>
<h2>
Exercise 1: Python - basics
</h2>
</center>

## Python is an interpreter
To run code press `Shift` + `Enter`

In [1]:
x = 3
y = 2
x + y

5

## Functions
Funcions are defined with the `def` keyword.
**Indentations (tabulators) are important!**

In [2]:
def add_numbers(a, b):
    return a + b

add_numbers(1, 3)

4

### To Do 1
Prepare the function similar to the previous one, but capable of adding three numbers instead of two.

In [3]:
# Enter your code here
def add_numbers(a, b, c):
    return a + b + c

add_numbers(1, 2, 4)

7

In Python you may assign the default values to parameters

In [4]:
def add_numbers(a, b, c=0):
    return a + b + c

add_numbers(1, 2), add_numbers(1, 2, 3)

(3, 6)

### To Do 2
Prepare a function `add_multiply`. This function can either add or multiply 2 numbers.<br>
Arguments:
<ul>
<li>a        - first number<br>
<li>b        - second number
<li>multiply - if True, your function should multiply the numbers. Else, your function should add the numbers. This argument should be equal to `False` by default
</ul>    


*Note 1: in case of logic variables (True/False) you may just use: <code>if variable_name:</code>*<br>
*Note 2: True/False are case sensitive*<br>
*Note 3: Testing code is provided below the next cell*

In [5]:
# enter your code here
def add_multiply(a, b, multiply = False):
    return a * b if (multiply == True) else a + b

add_multiply(1, 2), add_multiply(1, 2, True)

(3, 2)

Test your code. If everything is ok, the results should also be ok.

In [6]:
#Test
print ('2 + 3 = {}'.format(add_multiply(2, 3)))
print ('2 * 3 = {}'.format(add_multiply(2, 3, True)))

2 + 3 = 5
2 * 3 = 6

Please notice, that if the argument has a default value you do not have to enter it.

### To Do 3
Prepare a function, which can solve the quadratic equation and display the results. If the equation does not have solutions, the appropriate information should be displayed.

Reminder :):

Quadratic equation:

$ax^2 + bx + c = 0$

$\Delta = b^2 - 4ac$

$x_{1} = \frac{-b - \sqrt{\Delta}}{2a}$

$x_{2} = \frac{-b + \sqrt{\Delta}}{2a}$

*Note 1: The square root should be computed with the `sqrt` function, which is located in the `math` library'*<br>
*Note 2: For computing $b^2$ use `b***2`

In [32]:
import math

In [31]:
def quadratic_equation(a, b, c):
    d = b**2 - 4*a*c
    if d < 0:
        print('No Solutions')
    elif d == 0:
        x = -b / (2*a)

SyntaxError: invalid syntax (25900202.py, line 8)

Test your solution

In [8]:
print('x^2 + x + 1 = 0. Should return "No solutions"')
quadratic_equation(1, 1, 1)
print('\nx^2 = 0. One solution (x = 0)')
quadratic_equation(1, 0, 0)
print('\n2x^2 - 10x + 12 = 0. Two solutions (x1 = 2, x2 = 3)')
quadratic_equation(1, -5, 6)

x^2 + x + 1 = 0. Should return "No solutions"
Enter your code here

x^2 = 0. One solution (x = 0)
Enter your code here

2x^2 - 10x + 12 = 0. Two solutions (x1 = 2, x2 = 3)
Enter your code here

## For loop - basics
Please notice the colon!
**Tabulators are important!**

In [9]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

## Data types

In [10]:
type("This is a string")

str

In [11]:
type(1)

int

In [12]:
type(1.0)

float

In [13]:
x = 10
type(x)

int

In [14]:
type(add_numbers)

function

### Tuples

In [15]:
x = (1, 2, 3, 4)
type(x)

tuple

In [16]:
x = (1, 2, 'a', 'b', 5)
type(x)

tuple

### Lists

In [17]:
x = [1, 2, 'a']
type(x)

list

In [18]:
x.append(1)
print(x)

[1, 2, 'a', 1]

In [19]:
x[2] = 'ad'
print(x)

[1, 2, 'ad', 1]

In [20]:
len(x)

4

In [21]:
a = [1, 2, 3]
b = [2, 3, 5]
a + b

[1, 2, 3, 2, 3, 5]

In [22]:
a * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [23]:
[1] * 4

[1, 1, 1, 1]

In [24]:
2 in a

True

In [36]:
x = [1, 2, 3, 4, 5, 6, 7]

In [37]:
x[0]

1

In [38]:
x[0:3]

[1, 2, 3]

In [39]:
x[2:6]

[3, 4, 5, 6]

In [40]:
len(x)

7

In [41]:
x[2:]

[3, 4, 5, 6, 7]

In [42]:
x[:3]

[1, 2, 3]

In [43]:
x[-1]

7

In [44]:
x[-3]

5

### Strings

In [49]:
s = 'Wow, I am in China!'
s

'Wow, I am in China!'

In [50]:
s[0]

'W'

In [51]:
s[-6:]

'China!'

In [52]:
s.split(' ')

['Wow,', 'I', 'am', 'in', 'China!']

In [53]:
numbers = ["one", "two"]

### To Do 4
Using lists, `.split` and `.join` display the words from second to fourth (inclusive) from the `This is a list of words to display` sentence. The result should be displayed as a string.

In [55]:
s = 'This is a list of words to display'
#Enter your code here
' '.join(s.split(' ')[1:4])

'is a list'

### Using `.format` function.

In [57]:
my_text = 'TEXT'
my_int = 3
my_float = 3.0
s = 'Text: {}, Integer Number: {}, Real Number: {}'.format(my_text, my_int, my_float)
s

'Text: TEXT, Integer Number: 3, Real Number: 3.0'

## Dictionaries

In [58]:
dic = {
    'prezemek': 'przemek@umd.edu',
    'ola': 'ola@umd.edu',
    'ian': 'ian@umd.edu'
}
print(dic)

{'prezemek': 'przemek@umd.edu', 'ola': 'ola@umd.edu', 'ian': 'ian@umd.edu'}

In [59]:
dic['prezemek']

'przemek@umd.edu'

In [60]:
for name in dic:
    print(name)

prezemek
ola
ian

In [61]:
for email in dic.values():
    print(email)

przemek@umd.edu
ola@umd.edu
ian@umd.edu

In [63]:
for name, email in dic.items():
    print('{} - {}'.format(name, email))

prezemek - przemek@umd.edu
ola - ola@umd.edu
ian - ian@umd.edu

In [64]:
#Should generate KeyError
dic['join']

KeyError: 'join'

### To Do 5
Prepare a function, which takes a dictionary and a key as arguments. The function should display (print) the given key, the value from dictionary, and the type of the value. If there is no key in the dictionary, the function should display: `Key <key_name> does not exists`.

*Note: To check if the key is in the dictionary, use the operator `in`.*

In [65]:
def display_value(dic, key):
    if key in dic:
        print('{} - {} - {}'.format(key, dic[key], type(key)))
    else:
        print('Key<{}> does not exists.'.format(key))
    # Enter your code here

Test

In [66]:
d = {1 : 'one', 2 : 2.0, 3 : 3}
for i in range(4):
    display_value(d, i+1)

1 - one - <class 'int'>
2 - 2.0 - <class 'int'>
3 - 3 - <class 'int'>
Key<4> does not exists.

## Classes

### To Do 6
Build the class `Summarize`. This class can add all the numbers from the list (method `add_list`)


The class should remember (keep the track of):
<ul>
    <li> sum of all the added numbers (`nr_sum` variable)
    <li> How many numbers were added ile liczb (`nr_count` variable)
    <li> Last added list (`last_list` variable)
</ul>

In [29]:
# Enter your code here

Test

In [30]:
s = Summarize()
s.add_list([1, 2, 3])
s.add_list([2, 3, 4])
print('Sum of all the numbers is {} (should be 15)'.format(s.nr_sum))
print('{} numbers added (should be 6)'.format(s.nr_count))
print('Last list is {} (should be [2, 3, 4])'.format(s.last_list))

NameError: name 'Summarize' is not defined

## List comprehensions

Create the list which contains the $\sqrt{x}$ values for $x \in <1, 2, 3, 4, ...., 100>$

*Note: Use `math.sqrt` to compute $\sqrt{x}$*

### To Do 7
Use list comprehension to create the list with $e^x$ values for $x \in <0, 2, 4, 6, 8, 10>$

*Note 1: Use `math.exp` to compute $e^x$.*<br>
*Note 2: You may use `range` to get the consecutive even numbers. Type `range?` to check the help for `range`.*

In [ ]:
# Enter your code here