<center>
<h1>Introduction to Python and Pandas</h1>
<h2>
Lesson 3: Pandas - joining and grouping tables
</h2>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Uncomment this if you are using Google Colab
#!wget https://raw.githubusercontent.com/PrzemekSekula/PythonBasics/main/03_Pandas_2/ForPow.csv
#!wget https://raw.githubusercontent.com/PrzemekSekula/PythonBasics/main/03_Pandas_2/ForPow3020.csv
#!wget https://raw.githubusercontent.com/PrzemekSekula/PythonBasics/main/03_Pandas_2/forest_land.csv
#!wget https://raw.githubusercontent.com/PrzemekSekula/PythonBasics/main/03_Pandas_2/population.csv
#!wget https://raw.githubusercontent.com/PrzemekSekula/PythonBasics/main/03_Pandas_2/power.csv
#!wget https://raw.githubusercontent.com/PrzemekSekula/PythonBasics/main/03_Pandas_2/Countries-Continents.csv

Forest: This file contains the data about the area of forests [$km^2$]  for each country

In [ ]:
forest = pd.read_csv('./forest_land.csv')
print (forest.shape)
forest.head()

Power - This file contains the information about the usage of electric power / capita [kWh] for each country.

In [ ]:
power = pd.read_csv('./power.csv')
print (power.shape)
power.head()

## Join (merge)
**pandas.merge** - connects two dataframe objets, similarly to the SQL 'JOIN' clause.
The description of this function can be found in [Pandas documentation](http://pandas.pydata.org/pandas-docs/stable/merging.html)
The most important arguments:
pd.merge(left, right, how='inner, left_on=None, right_on=None)
<ul>
<li>**left**: first table
<li>**right**: Second table
<li>**how**: Type of join. Could be 'inner' (default), 'outer', 'left' or 'right'
<li>**left_on**: The column we want to join on (from the left table)
<li>**right_on**: The column we want to join on (from the right table)
</ul>
If che columns in left and right table have the same name, you may use **'on'** instead of  
**'left_on'** and **'right_on'** (check documentation for more details.).<br>
If you want to join by indices instead of **'left_on'** and **'right_on'** 
you should use **left_index=True, right_index=True**.
In case of problems, please check the documentation. You may do it by running:<br><br>
pd.merge?<br><br><br>
Documentation is clear, and easy to read.

In [ ]:
pd.merge?

In [ ]:
ForPow = pd.merge(
    forest, power,
    how = 'inner',
    left_on = 'Country', right_on = 'Country Name')
print (ForPow.shape)
ForPow.head()

## Data cleaning

### Task 1
The information about Country names is in two columns : **Country** and **Country Name**. We do not need the column **Country Name**. Delete it.<br>

In [ ]:
# ENTER YOUR CODE HERE
ForPow = ForPow.drop('Country Name', axis=1)
ForPow.head()

### Changing names of columns

In [ ]:
ForPow.rename(columns = {'2010_x' : 'forest_2010' })
ForPow.head()

In [ ]:
colnames = {
    '1990' : 'forest_1990',
    '2000_x' : 'forest_2000',
    '2005_x' : 'forest_2005',
    '2010_x' : 'forest_2010',
    '2000_y' : 'power_2000',
    '2005_y' : 'power_2005',
    '2010_y' : 'power_2010'
}

ForPow = ForPow.rename(columns = colnames)
ForPow.head()

### Another one example of joining tables
This time we will use a slightly different notation

In [ ]:
pop = pd.read_csv('./population.csv')
pop.head()

In [ ]:
ForPow = ForPow.merge(pop, on = 'Country Code')
print (ForPow.shape)
ForPow.head()

### Task 2 - Adding continents
- Load the data of the countries and the continents into a new dataframe. You may call your dataframe `cc` (stands for Countries and Continents). Display the first 5 columns of your table. The data
- Join the `cc` table table with the `ForPow` table. Your results should be stored in the ForPow table. It means your code should look like: `ForPow = pd.merge(.....)`

In [ ]:
# Loading Countries-Continents.csv data
# ENTER YOUR CODE HERE
cc = pd.read_csv('./Countries-Continents.csv')
cc.head()

In [ ]:
# Merging CC and ForPow table
#ENTER YOUR CODE HERE
ForPow = ForPow.merge(cc, on='Country')
ForPow.head()

### Now we are interested only in 2010

In [25]:
ForPow2010 = ForPow[[
    'Country', 'Country Code', 'Continent', 
    'pop_2010', 'forest_2010', 'power_2010'
]].copy()
ForPow2010.head()

     Country Country Code      Continent    pop_2010  forest_2010   power_2010
0    Albania          ALB         Europe   2913021.0       7760.0  1943.343354
1    Algeria          DZA         Africa  36117637.0      14920.0  1012.690836
2     Angola          AGO         Africa  23369131.0     584800.0   206.340578
3  Argentina          ARG  South America  41223889.0     294000.0  2847.256842
4    Armenia          ARM         Europe   2877311.0       2620.0  1726.264557

### Task 3 - Forest area per 1,000,000 citizens
Add column GreenCoef to the table ForPow2010, which shows how many $km^2$ of forest we have for each 1,000,000 of citizens

In [26]:
# ENTER YOUR CODE HERE
ForPow2010['GreenCoef'] = 1000000 * ForPow2010['forest_2010'] / ForPow2010['pop_2010']
ForPow2010.head()

,Country,Country Code,Continent,pop_2010,forest_2010,power_2010,GreenCoef
0,Albania,ALB,Europe,2913021.0,7760.0,1943.343354,2663.901153
1,Algeria,DZA,Africa,36117637.0,14920.0,1012.690836,413.094578
2,Angola,AGO,Africa,23369131.0,584800.0,206.340578,25024.464966
3,Argentina,ARG,South America,41223889.0,294000.0,2847.256842,7131.787105
4,Armenia,ARM,Europe,2877311.0,2620.0,1726.264557,910.572406

### Task 4 - Filtering
Display all the countries (all the `ForPow2010` table rows) where the `GreenCoef` is smaller than `GreenCoef` of Haiti

In [28]:
# First try to find Haiti
# ENTER YOUR CODE HERE
ForPow2010[ForPow2010['Country'] == 'Haiti']

,Country,Country Code,Continent,pop_2010,forest_2010,power_2010,GreenCoef
41,Haiti,HTI,North America,9999617.0,1010.0,24.400935,101.003868

In [32]:
# Now display the expected output
# ENTER YOUR CODE HERE
ForPow2010[ForPow2010['GreenCoef'] < ForPow2010.loc[41, 'GreenCoef']]

,Country,Country Code,Continent,pop_2010,forest_2010,power_2010,GreenCoef
8,Bahrain,BHR,Asia,1240862.0,10.0,18038.266950,8.058914
9,Bangladesh,BGD,Asia,152149102.0,14420.0,239.830532,94.775453
56,Kuwait,KWT,Asia,2998083.0,60.0,16722.685800,20.012788
79,Oman,OMN,Asia,3041460.0,20.0,5521.032662,6.575789
80,Pakistan,PAK,Asia,170560182.0,16870.0,465.161323,98.909369
87,Qatar,QAT,Asia,1779676.0,0.0,14821.237120,0.000000
92,Singapore,SGP,Asia,5076732.0,20.0,8679.993350,3.939542

## Group By

In [ ]:
# Uncomment the code below if you haven't done everything above, 
# or if you are starting this notebook from this place

#import pandas as pd
#import numpy as np
#ForPow2010 = pd.read_csv('ForPow2010.csv')
#ForPow = pd.read_csv('ForPow.csv')

Our goal os to group the  **ForPow2010** table in such a way to get the sum of the forest area for each continent.
<br><br>
<i>Note: The three most commonly useg groupping functions are as follows:</i>
<li><b>sum:</b> 'sum' or np.sum
<li><b>mean:</b> 'mean' or np.average
<li><b>counting:</b> 'count'

You can aggregate as many columns as you wish

### Task  5 - grouping data
Group the table **ForPow2010** by continents to get aggregate information about:
<li>The number of countries for each continent
<li>The total area of forest for each continent
<li>The mean power usage per country for each continent

In [ ]:
# As a reminder - let's display the table

In [ ]:
# Now you may group.
# ENTER YOUR CODE HERE